.primary_card{
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3%;
    box-shadow: 2px 2px 12px rgba(0, 0, 22, 0.5);
}

.primary_card span{
    font-size: 24px;
    font-weight: bold;
    color: rgb(7, 1, 97);
}