*, *::before, *::after{
    box-sizing: border-box;
    container-type: inline-size;
}

.row{
    background-color:#ffffff;
    height: 100%;
}

.columna{
    background-color: rgb(7, 142, 0);border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    container-name: columna;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container{
    height: 700px;
}

@container columna (width > 251px){
    .boton{
        color: red;
    }
}
@container columna (width < 250px){
    .boton {
        color: rgb(0, 255, 247);
    }
}
